@page "/addstudent"
@using BlazorStudentCrud.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Add Student</h3>
<hr />
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="studentName" class="control-label">Name</label>
                <input for="studentName" class="form-control" @bind="@std.studentName" />
            </div>
            <div class="form-group">
                <label for="course" class="control-label">Course</label>
                <input for="course" class="form-control" @bind="@std.course" />
            </div>
            <div class="form-group">
                <label for="year" class="control-label">Year</label>
                <input for="year" class="form-control" @bind="@std.year" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateStudent" value="save" />
                <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {

    studentInfo std = new studentInfo();
    protected async Task CreateStudent() //can not be same as enclosing type @page "/AddStudent"
    {
        await Http.PostJsonAsync("http://localhost:55366/api/studentinfoes", std);
        NavigationManager.NavigateTo("studentList");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("studentList");
    }


}
